
header.user {
  background-color: #d79720;
  padding-top: 120px; /* Add a top padding to avoid content overlay */
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  height: 400px;
}

header > div {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

h2.name {
  font-size:28px;
  /* padding-bottom: 1em; */
  font-family: sans-serif;
  font-weight: 300;
}

