/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056A1;
    background-image: none;
    position: fixed;
  }

  .nav-right {
    background-color: #4056A1;
    background-image: none;
  }

  button.compose {
   background-color: #4056A1;
    background-image: none;
  }

  section.large-screen {
    display: flex;
    flex-direction: row;
    padding-top: 160px;
  }

  header.user {
    width: 33.3%;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 2em;
    max-height: 500px;
  }

  main.container {
    width: 66.7%;
    margin-top: 2em;
    margin-right: 1em;
  }

  article.tweet-container {
    margin-top: 0;
    margin-bottom: 1em;
  }
}


@media only screen and (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
  }

  nav {
    max-width: 1400px;
  }
}
