nav {
  background-color: #d79720;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  height: 120px;
  width: 100%; /* full width */
  color: #FFFFFF;
  position: relative;
  top: 0; /* Position the navbar at the top of the page */
  display: flex;
  justify-content: space-between;
}

#title {
  font-family: Bungee;
  padding: 0;
  padding-left: 1.5em;
  padding-bottom: 0.6em;
  align-self:flex-end;
}

#title h1 {
  display: inline;
}

.nav-right {
  display: flex;
  flex-direction: column;
  background-color: #d79720;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  font-family: Source Sans Pro;
  padding-right: 1.5em;
  padding-bottom: 0.6em;
  align-items: center;
  justify-content: flex-end;
}

button.compose {
  border: none;
  background-color: #d79720;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  font-family: Source Sans Pro;
  color: #FFFFFF;
}

/* button.compose:hover {
  box-shadow: 0 8px 11px  #162655;
} */

.fa-angles-down {
  color: #ef3d1e;
}






