nav {
  height: 120px;
  width: 100%; /* full width */
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  display: flex;
  justify-content: space-between
}

#title {
  font-family: Bungee;
  padding: 0;
  padding-left: 1.5em;
  padding-bottom: 0.6em;
  align-self:flex-end;
}

#title h1 {
  display: inline;
}

.nav-right {
  display: flex;
  flex-direction: column;
  background-color: #4056A1;
  font-family: Source Sans Pro;
  padding-right: 1.5em;
  padding-bottom: 0.6em;
  align-items: center;
  justify-content: flex-end;
}

button.compose {
  border: none;
  background-color: #4056A1;
  font-family: Source Sans Pro;
  color: #FFFFFF;
}

button.compose:hover {
  border: none;
  background-color: #4056A1;
  font-family: Source Sans Pro;
  color: #FFFFFF;
}

.fa-angles-down {
  color: #ef3d1e;
}

.fa-angles-down:hover {
  color: #ef3d1e;
}




