
form > textArea {
  padding-top: 1.5em;
  margin-top: 1.5em;border: 0;
  margin-left: 1em;
  margin-right: 1em;
  width: 100%;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:600;

}

.h_line {
  border-top: 2px solid #545149;
  width: 100%;
  margin: auto 1em;
}

footer {
  margin-top: 0.5em;
  position: static;
}

.tweet-button {
  background-color: #4056a1;
  color: #fff;
  font-family: Bungee;
  font-size: 100%;
  position: static;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius:2px;
  float: left;
  margin-left: 1em;
  margin-top: .5em;

}

#counter {
  float: right;
  font-family: Bungee;


}

#counter.negative-counter {
  color: rgb(207, 23, 23)

}




